<!DOCTYPE html>
<html lang="en">
<head>
  <title>ToDo List</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <div style="background:#337ab7; padding-left:5px">
    <p>
      <a class="toolbar_item_active">Домой</a>
      <a class="toolbar_item">|</a>
      <a class="toolbar_item" href="/todo/get">Показать таблицу</a>
      <a class="toolbar_item">|</a>
      <a class="toolbar_item" href="/todo/add">Добавить</a>
      <a class="toolbar_item">|</a>
      <a class="toolbar_item" href="/todo/edit">Редактировать таблицу</a>
      <a class="toolbar_item">|</a>
      <a class="toolbar_item" href="/auth/logout">Выйти</a>
    </p>
  </div>
  <div>
    <h2 style="margin-left: 2%;">Добро пожаловать, {{ name }}, в приложение ToDo!</h2>
  </div>

</body>
