<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/master.css">
  <style type="text/css">

  </style>
</head>
<body>
    <div style="background:#337ab7; padding-left:5px">
      <p>
        <a class="toolbar_item_active">Домой</a>
        <a class="toolbar_item">|</a>
        <a class="toolbar_item" href="/auth">Авторизация</a>
        <a class="toolbar_item">|</a>
        <a class="toolbar_item" href="/auth/registration">Регистрация</a>
      </p>
    </div>
  <div>
    <!--<form method="get" action="/auth">
      <input class="btn btn-primary" type="submit" value="Войти">
    </form>-->
    <h2 style="margin-left: 2%;">Войдите под своим логином или создайте новую учетную запись</h2>

  </div>

</body>
